

/* logo+about us........................................*/

.basic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.basic a{
    background-color: rgb(26, 1, 11);
    padding: 1%;
    margin: 2%;
    text-decoration: none;
    border: 0.2% solid rgb(24, 1, 1);
}

.basic a:hover{
    color: darkblue;
}

.info{
    text-align: left;
    
    padding: 1%;
    
}

.info h3{
    text-align: left;
}





/* nav........................................*/
nav a{
    display: none;
    padding: 2%;
    border: 3px solid rgb(34, 1, 1);
    margin: 3px;
    text-decoration: none;
    border-radius: 10px;
    width: 11vh;
    height: 6px;
    overflow: hidden;
    text-align:left;
    color: white;
    background-color: rgb(34, 2, 3);
    font-size: 20px;
    align-items: center;
    

}

nav .active:first-child{
    background-color: rgb(128, 7, 7);
}



nav a:hover{
    font-size: 170%;

}




/* header........................................*/



header{
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  
    background-color: black;
    background-image: url(https://media.istockphoto.com/photos/chicken-thukpa-in-black-bowl-at-dark-slate-background-chicken-thukpa-picture-id1199383314?k=6&m=1199383314&s=612x612&w=0&h=L-YmmB6Y96tBfAKUDe-w_XalljVUa5vFXxiK1SrfmhY=);
    
}

header h1,a,h2,h3{
    
    color: white;
    
}



/* logo........................................*/

.logo{
    font-size: 2vw;
    background-image: linear-gradient( yellow, orange , red);
}

.logo h1{
    width: 60%;
    padding: 20%;
    background-color: rgb(26, 1, 11);
   
}



/* footer........................................*/


footer{
    display: block;
    background-color: rgb(61, 3, 3);
    color: white;
    text-align: right;
    padding: 0.2%;
}



/* form................................................................................................................................................*/
	
form{
    display: none;
}

/*delete it...............................................................................................................................................*/









/* search........................................*/

.search{
    align-items: center;
}

.search button{
    width:48vw;
    padding-top: 1%;
    padding-bottom: 1%;
    
    display: inline-block;
    background-color: rgb(34, 2, 2);
    color: white;
    
    margin-left: 1%;
}

.search button:hover{
    background-color: rgb(83, 15, 3);
}


/* Top Picks...aside....................................*/

.aside{
    width: 100vw;
    display: block;
    border: 1% solid rgb(247, 14, 14);
    height: 20vh;
    overflow: auto;
}

.aside h2,h3{
    text-align: center;
}

.aside img{
    width: 120px;
    height: 120px;
    display: inline-block;
    height: 70px;
    border: 0.3px solid black;
    border-radius: 100%;
   

}






/* main recipes....................................*/

 .A iframe{
    width: 40vw;
    height: 30vh;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    align-content: center;
}

.A:nth-child(even){
background-color: red;
}
.A:nth-child(odd){
background-color:yellow;
}

.A{
    display: block;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 4%;
    align-items:center ;
    align-content: center;
}

.A div{
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}

body{
    background-color: black;
}












































































































































































/* at laptop screen...................................*/


@media all and (min-width:900px){
    .basic{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .info{
        text-align: left;
        
        padding: 5%;
        
    }
    
    .info h3{
        text-align: left;
    }
    
    
    
    
    
    
    nav a{
        display: inline-block;
        padding: 2%;
        border: 3px solid rgb(34, 1, 1);
        margin: 3px;
        text-decoration: none;
        border-radius: 10px;
        width: 11vh;
        height: 6px;
        overflow: hidden;
        text-align:left;
        color: white;
        background-color: rgb(34, 2, 3);
        font-size: 20px;
        align-items: center;
        
    
    }
    
    nav .active:first-child{
        background-color: rgb(128, 7, 7);
    }
    
    
    
    nav a:hover{
        font-size: 170%;
    
    }
    
    header{
        background-image: url(https://tworedbowls.com/wp-content/uploads/2015/03/16771472195_545cd280c5_b.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    
    header h1,a,h2,h3{
        
        color: white;
        
    }
    
    
    .logo h1{
    
        
        
    
        
        width: 60%;
        padding: 20%;
        background-color: rgb(26, 1, 11);
       
    }
    
    .logo{
        
       
        font-size: 20px;
        width: 18%;
        
        background-image: linear-gradient( yellow, orange , red);
    }
    
    
    .basic a{
        background-color: rgb(26, 1, 11);
        padding: 15px;
        margin: 5px;
        text-decoration: none;
        border: 1.5px solid rgb(24, 1, 1);
    }
    
    .basic a:hover{
        color: darkblue;
    }
    
    
    
    footer{
        display: block;
        background-color: rgb(61, 3, 3);
        color: white;
        text-align: right;
        padding: 10px;
    }
    
    
    /*parent whole container............................................................*/
    
    #whole{
        display: flex;
        margin: 0px;
        margin-top: 0%;
       }
    
    
    
    
    /*aside............................................................*/
    
    .aside{
        background-color: rgb(2, 1, 15);
        margin-right: 5px;
        height: 100vh;
        overflow: visible;
        width: 30vw;
    }
    
    .aside img{
        width: 40vh;
        display: block;
        margin-left: 32px;
        margin-top: 15px;
        height: 28vh;
    }
    
    .aside button{
        display: block;
        width: 48vh;
        color: white;
        background-color: rgb(56, 11, 3);
        height: 9vh;
        border-radius: 5px;
        box-shadow: rgb(27, 1, 1);
        margin: 5px;
        margin-top: 6%;
    }
    
    .aside h2,h3{
        text-align: center;
    }
    
    /*main............................................................*/
    
    .main{
       
        width: 80%;
        
        margin-left: 3px;
        
        background-color: black;
    
        
        
        
    }
    
    .main section{
        margin: 2px;
        
        
        
    }
    
    .main .A:nth-child(odd){
        background-color: rgb(230, 15, 50);
        
    }
    
    .main .A:nth-child(even){
        background-color: rgb(247, 231, 8);
        
    }
    
    .main iframe{
        height: 50vh;
        margin-left: 12.4px;
    }
    
    .main .A{
        display: inline-block;
        border: 0.7px solid black;
        margin: 20px;
        text-decoration: none;
        border-radius: 10px;
        width: 45vh;
        height: 100vh;
        overflow: hidden;
        align-items: center;
        margin-top: 3%;
        
        
        
    
    }
    
    
    
    .A div{
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        background-color: black;
        color: white;
        margin: 5px;
        padding: 15px;
    }
    
    


    .search button{
        display: none;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* FORM from here
    
    
    Button used to open the contact form - fixed at the bottom of the page 
    
    
    */
    
    
    
    
    .open-button {
      background-color: rgb(26, 1, 11);
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      
      bottom: 23px;
      right: 28px;
      width: 100px;
      height: 50px;
      align-items: center;
      margin-bottom: 30px;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
}

































